{% extends 'bases/base.html' %}
{% load static %}
{% block 'head' %}
    <link rel="stylesheet" href="{%static 'users/css/user.css'%}">
{% endblock %}

{% block 'body' %}

    <div class="container-fluid bg-inscricao">
        
        <div class="row">
            <div class="col-md">
                <h3 class="logo">Professor corno</h3>
                
                {%include  "partials/users/cadastro.html"%}

                <img src="{% static 'geral/img/logo_evento.png' %}" class="logo-evento">

            </div>

            <div class="col-md bg-img">
            
            </div>
        
        </div>
    </div>

{% endblock %}